<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
    <div class="d-grid justify-content-center">
      <img
        src="assets/images/Logo-Expedia.png"
        alt="Expedia Logo"
        class="img-fluid"
        style="width: 200px; height: auto"
      />
    </div>
    <div class="text-center my-5">
      <h3 class="fw-semibold">Crea una cuenta</h3>
    </div>
    <form>
      <div class="mb-3">
        <input
          type="names"
          class="form-control rounded-pill p-3"
          id="inputNames"
          placeholder="Nombres"
        />
      </div>
      <div class="mb-3">
        <input
          type="surnames"
          class="form-control rounded-pill p-3 mb-4"
          id="inputSurnames"
          placeholder="Apellidos"
        />
      </div>
      <div class="mb-3">
        <input
          type="email"
          class="form-control rounded-pill p-3 mb-4"
          id="inputEmail"
          placeholder="Correo electrónico"
        />
      </div>
      <div class="mb-3">
        <input
          type="password"
          class="form-control rounded-pill p-3 mb-4"
          id="inputPassword"
          placeholder="Contraseña"
        />
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-lg btn-expedia-secondary py-3">
          Crear cuenta
        </button>
      </div>
    </form>
  </div>
</div>
